body{
    background-color: #F2E3D5;
    color: black;
    font-family: monospace;
    font-size: large;
    text-align: center;
}
h1{
    color: #012E40;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h2{
    color: #012E40;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#titulo{  display: inline-block; width: 500px; height: 400px; padding-top: 190px;
}
#formulario {  display: inline-block; width: 400px; height: 800px;
}
input[type=text], input[type=number]{
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
}
button[type=submit]{
    background: #3CA6A6;
    color: #fff;
    border: 2px solid #eee;
    border-radius: 20px;
    text-shadow:none;
    height: 23px;
    width: 70px;
    text-align: center;
    padding-top: 4px; 
}
button:hover [type=submit]{
  background: #3CA6A6;
  color: #fff;
  border: 2px solid #eee;
  border-radius: 20px;
  text-shadow:none;
  height: 23px;
  width: 70px;
  text-align: center;
  padding-top: 4px;
}
fieldset{
    display: block;
    border: 2px solid #012E40;
    margin-top: -100px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 40px;
  }
#tabela1{
    display: block;
    border: 2px solid #012E40;
    margin-top: -30px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 40px;
}
.tabela{
    display: block;
    border: 2px solid black;
    margin-top: 23px;   
    margin-right: 430px;
    border-radius: 10px;
    border-color: #3CA6A6;
    margin-left: 49.2%;
}
