.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #026773;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F2E3D5;
    display: block;
    transition: 0.3s;
    }
    
.sidebar a:hover {
    color: #012E40;
    }
    
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#F2E3D5 ;
    color: #012E40;
    padding: 10px 15px;
    border: none;
    }
    
.openbtn:hover {
    background-color: #026773 ;
    color: #F5C99E
    }
    
#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-right: 100%;
    }




